TZ=Asia/Jakarta
MOODLE_PORT=8080
MOODLE_URL=http://localhost:8080
MOODLE_LANG=id
MOODLE_FULLNAME=Moodle Skenda
MOODLE_SHORTNAME=Skenda LMS

MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASS=Admin123!ChangeMe
MOODLE_ADMIN_EMAIL=admin@example.local

DB_ROOT_PASSWORD=changeme_root
DB_NAME=moodle
DB_USER=moodle
DB_PASSWORD=changeme_moodle
